@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;  
}

body {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(#c8c3fc, #DACDFF);
}


.header-info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #6D4FC2;
  margin-right: 10px;
  background: #fff;
  border-radius: 50%;
  flex-shrink: 0;
}

.chatbot-body .bot-message svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  fill: #fff;
  margin-right: 10px;
  margin-bottom: 2px;
  background: #6D4FC2;
  align-self: flex-end;
  border-radius: 50%;
  flex-shrink: 0;
}



